*~
gofuzzmin
coverage.html
coverage.out

*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
*.coverprofile
profile.cov

# Go workspace file
go.work
go.work.sum

# GoReleaser
dist/

# env file
.env
